body {
    background-image: url('images/background.png');
    background-size: cover;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.outer-box {
    width: 370px;
    height: 270px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    background-color: rgba(85, 75, 61, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.scroll-sf-trans-section {
    /*border: 1px solid #000;*/
    height: 30px;
}

.scroll-box {
    margin-left: 1%;
    margin-top: -1%;
}

.sf-box {
    margin-left: 34%;
    margin-top: -9.5%;
}

.transfer-box {
    margin-left: 67%;
    margin-top: -9.5%;
}

.enhance-type-button {
    color: white;
    background-color: rgba(178, 190, 181, 0.3);
    width: 120px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
    cursor: pointer;
}

.image-info-section {
    /*border: 1px solid #000; */
    color: white;
    height: 130px;
    margin-top: 3%;
}

.image-box {
    background-color: rgba(144, 117, 216, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 1%;
    align-items: center;
}

.info-box {
    width: 240px;
    height: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: -33.5%; 
    margin-left: 35%;
}

.button-section {
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
    width: 390px;
    height: 40px;
    align-items: center;
}

.starcatch-safeguard-section {
    margin-top: 0.2%;
}

.sc-label {
    color: white;
    margin-left: 4%;
    margin-right: 53%;
    font-size: 13px;
}

.sg-label {
    color: white;
    margin-left: 2%;
    margin-right: 53%;
    font-size: 13px;
}

.starcatch-box {
    width: 48%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.safeguard-box {
    width: 48%;
    margin-top: -5.6%;
    margin-left: 51%;
    padding-left: 1%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sc-sg-check {
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

.meso-section {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 20px;
    margin-top: 2%;
}

.meso-amount {
    color: white;
    font-size: 13px;
}

.required-meso-label {
    color: white;
    padding-left: 2%;
    margin-right: 22%;
    font-size: 13px;
}

.centered-image {
    width: 80px;
    height: 80px;
    margin-left: 12%; 
    transform: translate(0%, 0%);
}

.enhance-button {
    width: 90px;
    margin-left: 25%;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(80, 200, 120, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button {
    margin-left: 2%;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(178, 190, 181, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.star-info {
    margin-top: 2%;
    margin-left: 2%;
    padding-top: 3%;
    padding-left: 3%;
    font-size: 16px;
}

.success-info {
    margin-top: -7%;
    margin-left: 2%;
    padding-left: 3%;
}

.failure-info {
    margin-top: -6%;
    margin-left: 2%;
    padding-left: 3%;
}